li a {
    color:black;
}

.navbar-default {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    align-content: center;
    margin:0 auto;
}

.nav nav-tabs {
    float: right;
    align-content: center;
    display: inline-block;
}
.navbar .navbar-header{
        float:none;
        display:inline-block;
        vertical-align: top;
    }
.navbar-brand {
  position: absolute;
    width:100%;
  left: 0;
  text-align: left;
}
.Button1 {
    background-color:white;
    color:black;
    border-radius: 5px;
    border: 2px solid gold;
}
.Button2 {
    background-color:white;
    color:black;
    border-radius: 5px;
    border: 2px solid gold;
}

#Home-Text {
    text-align: center;

}